html,body{
    width: 100%;
    height: 100vh;
    background-image: url(images/smoke.png);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
  overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }
 
  h1{
   
   position: relative;
   top: 5vh;
   color: #fff;
   font-size: 50px;
   left: 40%;
  }


.pfp, img{
    position: relative;
    width: 19vw;
    left: 30.5%;
    top: 2vh;
    border-radius: 15px;
  }
  
  .bio{
    position: relative;
    color: #fff;
    font-size: 22px;
    top: 9vh;
    left: 30.5%;
  }
  .grades{
    position: relative;
    color: #fff;
    font-size: 22px;
    font-style: center;
    top: 9vh;
    left: -3%;
  }
  .ucc{
    position: relative;
    width: 15vw;
    left: 32%;
    top: 16vh;
  }
