html,body{
    width: 100%;
    height: 100vh;
    background-image: url(images/smoke.png);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
  overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }
 
  h1{
   left: 40%;
   position: absolute;
   top: 1vh;
   color: #fff;
   font-size: 50px;
  }
  h1 a:hover{
    color: rgb(126, 126, 126);
  }

.pfp, img{
    position: relative;
    width: 19vw;
    left: 30.5%;
    top: 6vh;
    border-radius: 15px;
  }
  
  .bio{
    position: absolute;
    color: #fff;
    font-size: 22px;
    top: 55vh;
    left: 58vh;
  }
  .grades{
    position: relative;
    color: #fff;
    font-size: 22px;
    font-style: center;
    top: 22vh;
    left: -3%;
  }
  .ucc{
    position: relative;
    width: 15vw;
    left: 32%;
    top: 26vh;
  }
